rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /reservas/{reservaId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      // Solo permitir borrar si es el creador autenticado (userId coincide)
      allow delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
